.navbar {
    position: fixed;  
    top: 0;           
    left: 0;
    z-index: 1000; 
    background-color: #0a171e;   
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0rem;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagem_logo_orbisdb{
    width: 8rem;
}

.texto_logo_orbisdb{
    width: 12rem;
    height: 3.5rem;
}

.conteudo_navbar {
    display: flex;
    flex-direction: row;
    gap: 11%;
    align-items: center;
    margin-left: 5%;
}

.item_navbar{
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}