@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
    margin: 0;       
    padding: 0;     
    box-sizing: border-box; 
    height: 100%; 
} 

h1, h2, h3{
    font-family: 'Stack Sans Text', sans-serif;
}


p, span, input{
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;            
    justify-content: center;   
    min-height: 100vh;     
    background-color: #102129;    
}
